<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-fdcastel" value="https://nuget.pkg.github.com/fdcastel/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-fdcastel>
      <add key="Username" value="fdcastel" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github-fdcastel>
  </packageSourceCredentials>
</configuration>
